# No LFS filters
*.csv -text
*.bat -text
image_galery/*.png -text
image_galery/*.jpg -text
image_galery/*.jpeg -text
image_galery/*.gif -text
image_galery/*.bmp -text
# Large files tracked with Git LFS
Streamlit/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd filter=lfs diff=lfs merge=lfs -text
Streamlit/venv/Lib/site-packages/clang/native/libclang.dll filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.keras filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
Model/inception_model_weights.pkl filter=lfs diff=lfs merge=lfs -text
Model/trained_inception_model.keras filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
