# No LFS filters
*.csv -text
*.bat -text
trained_inception_model.keras -text
inception_model_weights.pkl -text
image_galery/*.png -text
image_galery/*.jpg -text
image_galery/*.jpeg -text
image_galery/*.gif -text
image_galery/*.bmp -text
